doctype html
html(lang='en', ng-app='expressular')
  head
    title Expressular-Kit
    script(src='static/angular/angular.js')
    script(src='static/js/app.js')
  body
    p(id='greeting', ng-controller="GreetingController") {{greeting}}
    p Nothing here {{'yet' + '!'}}
